@font-face {
    font-family: 'Ruda';
    src: url('./fonts/Ruda-Medium.ttf');
}

@font-face {
    font-family: 'Halyard Display';
    src: url('./fonts/Halyard-Display.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    background-color: #0A1833;
    height: 100vh;
    width: 100%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 60px 0;
    color: #9CC7F1;
    font-family: 'Ruda';
}

h1 {
    color: #D8ED58;
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    font-family: 'Halyard Display';
    margin-bottom: 50px;
}

.title-container {
    margin: 120px 310px;
    color: white;
    font-family: Ruda;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
}

.margin-bottom {
    margin-bottom: 60px;
}

/* .title-container p {
    color: white;
    font-family: Ruda;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
}

.title-container p:first-child {
    border: 1px solid red;
} */

.hexagon-grid {
    position: absolute;
    bottom: 0;
    left: 0;
}

.webleaders-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Text animation effect */
.line-wrapper {
    color: #D8ED58;
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    font-family: 'Arial';
    overflow: hidden;
}

.word {
    margin-right: 20px;
    display: inline-block;
    transform: translate(0,100%);
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.delay-1 {
    animation-delay: .3s;
}

.delay-2 {
    animation-delay: .6s;
}

.delay-3 {
    animation-delay: .9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

@keyframes reveal {
    to {
        transform: translate(0,0);
    }
}