@font-face {
    font-family: 'Ruda';
    src: url('./fonts/Ruda-Medium.ttf');
}

@font-face {
    font-family: 'Halyard Display';
    src: url('./fonts/Halyard-Display.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header {
    position: relative;
    background-color: #0A1833;
    height: 100vh;
    width: 100%;
}

.header .list-item a {
    color: white;
    text-decoration: none;
}

.menu-container {
    margin: auto;
    max-width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 60px 0;
    color: white;
    font-family: 'Halyard Display';
}

.menu-container .list-items-container {
    display: flex;
    gap: 60px;
    list-style: none;
}

.list-items-container .list-item {
    display: inline-block;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.list-items-container .list-item::after {
    content: '';
    position: absolute;
    width: 2px;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 50%;
    border-radius: 100%;
    background-color: white;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.list-items-container .list-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
  }

.list-items-container .list-item:hover {
    color: #9CC7F1;
}

.list-item.beta {
    position: relative;
    color: #9CC7F1;
}

.beta span {
    font-family: 'Ruda';
    font-size: 11px;
    position: absolute;
    top: -10px;
    padding: 5px 5px 4px;
    border-radius: 60px;
    background-color: rgba(156, 199, 241, .45);
}

.menu-container .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Ruda';
    border: 1px solid #9CC7F1;
    border-radius: 0px 0px 16px 0px;
    background-color: rgba(156, 199, 241, .1);
    width: 240px;
    height: 47px;
    cursor: pointer;
    text-decoration: none;
}

.title-container {
    position: relative;
    margin: 160px auto 0;
    max-width: 1140px;
    color: white;
    font-family: Ruda;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    z-index: 1;
}

.content {
    position: relative;
    top: 20px;
    opacity: 0;
    animation: 1s slideUp 2.3s forwards;
}

@keyframes slideUp {
    to {
        top: 0;
        opacity: 1;
    }
}

.margin-bottom {
    margin-bottom: 60px;
}

.title-container p {
    color: white;
    font-family: Ruda;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.title-container .cta {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #0A1833;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 19px;
    border: 1px solid #D8ED58;
    border-radius: 0px 0px 16px 0px;
    background-color: #D8ED58;
    width: 340px;
    height: 60px;
    cursor: pointer;
}

.title-container .checklist {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.title-container .checklist p {
    font-size: 16px;
    line-height: 20px;
    max-width: 285px;
    margin-right: 60px;
}

.title-container .checklist img {
    margin-right: 13px;
}

.hexagon-grid {
    position: absolute;
    bottom: 0;
    left: 0;
}

.webleaders-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Text animation effect */
.line-wrapper {
    color: #D8ED58;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    overflow: hidden;
}

.word {
    font-family: “halyard-micro”, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    transform: translate(0,100%);
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.delay-1 {
    animation-delay: .1s;
}

.delay-2 {
    animation-delay: .5s;
}

.delay-3 {
    animation-delay: .6s;
}

.delay-4 {
    animation-delay: 1s;
}

.delay-5 {
    animation-delay: 1.2s;
}

.delay-6 {
    animation-delay: 1.4s;
}

@keyframes reveal {
    to {
        transform: translate(0,0);
    }
}

.first-beam {
    transform: translateY(300px);
    animation: beam 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.second-beam {
    transform: translateY(230px);
    animation: beam 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.third-beam {
    transform: translateY(497px);
    animation: beam 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes beam {
    to {
        transform: translateY(0);
    }
}

/* section-1 */
.section-1 {
    height: 500px;
    background-color: #9CC7F1 ;
}

.section-1 > .container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100%;
    margin: auto;
}

.visual-container {
    overflow: hidden;
    height: 100%;
    width: 562px;
}

.image-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 562px;
    height: 500px;
}

.image-wrapper img {
    transform: translate(-32%, -32%);
}

.section-1 .content-container {
    color: #0A1833;
}

.section-1 h2 {
    font-family: Halyard Display;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
}

.section-1 .checklist {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.section-1 .list-item {
    display: flex;
    gap: 13px;
}

.section-1 p {
    font-size: 20px;
    font-family: 'Halyard Display';
}

.section-2 {
    background-color: #D8ED58;
    height: 410px;
}

.section-2 h2 {
    font-family: Halyard Display;
    font-size: 40px;
    font-weight: 00;
    line-height: 48px;
    color: #0A1833;
    text-align: center;
    padding: 100px 0 72px;
}

.services-container {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 60px;
}

.section-2 .services-container img {
    animation: scrollingEffect 20s linear infinite;
}
  
@keyframes scrollingEffect {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* section-3 */
.section-3 {
    height: 100vh;
    background-color: #0A1833;
}

.section-3 .container {
    max-width: 1140px;
    margin: auto;
}

.section-3 h2 {
    padding-top: 80px;
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Halyard Display';
}

.section-3 p {
    font-family: 'Ruda';
    margin: 20px 0 70px;
    color: white;
}

.section-3 .image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-3 .image-container img {
    width: 340px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.section-3 .image-container img:hover {
    transform: scale(1.01) translateY(-5px);
}

/* section 4 */
.section-4 {
    position: relative;
    height: 360px;
    width: 100%;
    transform-style: inherit;
    background-color: #D8ED58;
}

.section-4 #parallax {
    height: 100%;
    background-image: url("./images/w-banner.svg");
    background-size: cover;
}

/* section 5 */
.section-5 {
    background-color: #0A1833;
    padding-bottom: 100px;
}

.section-5 > .container {
    max-width: 1140px;
    margin: auto;
}

.section-5 h2 {
    padding: 120px 0 35px;
    font-family: 'Halyard Display';
    font-weight: 500;
    font-size: 50px;
    line-height: 67px;
    color: #9CC7F1;
}

.section-5 .client-reviews-container {
    display: flex;
    gap: 42px;
    flex-direction: column;
}

.section-5 .list-item {
    padding: 0 90px;
    display: flex;
    gap: 30px;
    height: 420px;
    align-items: center;
    border: .5px solid rgba(217, 217, 217, .2);
}

.section-5 img {
    width: 348px;
    height: 348px;
    object-fit: cover;
    border-radius: 0 0 40px 0;
}

.section-5 .content-block p {
    font-family: Ruda;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: white;
}

.section-5 .content-block .client {
    margin-top: 40px;
    font-family: Ruda;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.section-5 .content-block span {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
}

.section-5 .cta {
    display: block; 
    color: #0A1833;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 19px;
    border: 1px solid #D8ED58;
    border-radius: 0px 0px 16px 0px;
    background-color: #D8ED58;
    width: 270px;
    height: 60px;
    cursor: pointer;
    margin: 40px 0 0 auto;
}

.section-6 {
    background-color: #0A1833;
    padding-bottom: 285px;
}

.section-6 > .container {
    max-width: 1140px;
    margin: auto;
    color: white;
}

.section-6 h2 {
    font-family: Halyard Display;
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 60px;
}

.section-6 .article-container {
    display: flex;
    gap: 20px;
}

.section-6 .article-wrapper {
    width: 33%;
}

.section-6 .article-container img {
    width: 100%;
    border-radius: 0 0 12px 0;
}

.section-6 .article-container h3 {
    margin: 30px 0 22px;
    font-family: Halyard Display;
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: -1px;
}

.section-6 .article-container p {
    font-family: Ruda;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 33px;
}

.section-6 .article-container .tag-container {
    display: flex;
    gap: 8px;
}

.section-6 .article-container .tag-container .tag {
    border: 1px solid #9096A3;
    border-radius: 8px;
    color: #9096A3;
    padding: 12px 16px;
    font-family: Ruda;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.section-7 {
    background-color: #0A1833;
    padding-bottom: 90px;
}

.section-7 > .container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-7 h2 {
    font-family: Halyard Display;
    font-size: 50px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    max-width: 620px;
}

.section-7 .cta {
    display: block; 
    color: #0A1833;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 19px;
    border: 1px solid #D8ED58;
    border-radius: 0px 0px 16px 0px;
    background-color: #D8ED58;
    width: 270px;
    height: 60px;
    cursor: pointer;
    margin: 40px 0 0 auto;
}

footer {
    position: relative;
    background-color: #0A1833;
    height: 400px;
    color: white;
    font-family: Ruda;
}

footer a, footer a:visited {
    text-decoration: none;
}

footer > img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu-items-container {
    border-top: 1px solid #424242;
    padding-top: 100px;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-item-column {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.menu-item-column:first-child {
    gap: 5px;
}

.menu-item-column a, .footer-bottom-container a {
    color: white;
}

footer .cta {
    display: block; 
    color: #0A1833;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 19px;
    border: 1px solid #D8ED58;
    border-radius: 0px 0px 16px 0px;
    background-color: #D8ED58;
    width: 270px;
    height: 60px;
    cursor: pointer;
}

.footer-bottom-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

.button {
    // all the various shared styles reside here
    // just take whichever ones you need for the button in question
    background: $green;
    border: 2px solid $grey;
    color: white;
    display: inline-block;
    font-family: "Trebuchet MS", sans-serif;
    overflow: hidden;
    padding: 15px 45px 15px 40px;
    position: relative;
    text-decoration: none;
    transition: 0.4s ease;
    z-index: 1;
    &:before,
    &:after {
      background: $grey;
      transition: 0.3s ease;
      content: '';
      position: absolute;
      z-index: -1;
    }
}

.bottom-right {
    &:before {
        top: 0;
        bottom: 0;
        right: -120%;
        transform: skewX(-45deg);
        width: 100%;
    }
    &:hover {
        &:before {
        width: 240%;
        }
    }
}